
    <footer class="footer">
        <div class="footer-content">
            <!-- footer seccion 1 -->
            <div class="footer-section">
                <h3>Sobre Nosotros</h3>
                <p>Damabrava: Tu fuente de condimentos premium para elevar tus platillos al siguiente nivel.</p>
                <div class="social-links">
                    <a href="https://www.facebook.com/share/1YEwMUMXvn/?mibextid=wwXIfr" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/damabrava_bolivia?igsh=MWY4NWdmNHgzdmphOQ==" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/@damabrava7699" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <!-- footer seccion 2 -->
            <div class="footer-section">
                <h3>Enlaces Rápidos</h3>
                <ul class="footer-links">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/productos">Productos</a></li>
                    <li><a href="/recetas">Recetas</a></li>
                    <li><a href="/nosotros">Nosotros</a></li>
                </ul>
            </div>
            <!-- footer seccion 3 -->
            <div class="footer-section">
                <h3>Contacto</h3>
                <ul class="footer-links">
                    <li><a href="mailto:pedidos@damabrava.com" target="_blank">Email: pedidos@damabrava.com</a></li>
                    <li><a href="tel:+59170325449" target="_blank">Teléfono: (591) 70325449</a></li>
                    <li><a href="https://maps.app.goo.gl/iuRTgdGtMDiVo7956" target="_blank">Dirección: Sucre, Bolivia</a></li>
                </ul>
            </div>
        </div>
        <!-- footer seccion pie -->
        <div class="footer-bottom">
            <p>&copy; 2025 Damabrava - Todos los derechos reservados.</p>
        </div>
    </footer>
    <script src="./js/footer.js"></script>
    <script src="./js/header.js"></script>
    
    <script src="./js/productos.js"></script>
    <script src="./js/recetas.js"></script>
    <script src="./js/nosotros.js"></script>
</body>
</html>
