
    <footer class="footer">
        <div class="footer-content">
            <!-- footer seccion 1 -->
            <div class="footer-section">
                <h3>Sobre Nosotros</h3>
                <p>Damabrava: Tu fuente de condimentos premium para elevar tus platillos al siguiente nivel.</p>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <!-- footer seccion 2 -->
            <div class="footer-section">
                <h3>Enlaces Rápidos</h3>
                <ul class="footer-links">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/productos">Productos</a></li>
                    <li><a href="/recetas">Recetas</a></li>
                </ul>
            </div>
            <!-- footer seccion 3 -->
            <div class="footer-section">
                <h3>Contacto</h3>
                <ul class="footer-links">
                    <li>Email: pedidos@damabrava.com</li>
                    <li>Teléfono: (591) 70325449</li>
                    <li>Dirección: Sucre, Bolivia</li>
                </ul>
            </div>
        </div>
        <!-- footer seccion pie -->
        <div class="footer-bottom">
            <p>&copy; 2025 Damabrava. - Todos los derechos reservados.</p>
        </div>
    </footer>
    <script src="./js/footer.js"></script>
    <script src="./js/header.js"></script>
    <script src="./js/inicio.js"></script>
    <script src="./js/productos.js"></script>
    <script src="./js/recetas.js"></script>
    <script src="./js/nosotros.js"></script>
    <script src="./js/adm.js"></script>
</body>
</html>
